<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <h1>Escolha seu plano</h1>
    <form action="/" method="post">
        <input type="text" name="name" placeholder="Nome" required>
        <br>
        <input type="radio" name="choice" value="free" required> Plano Free
        <br>
        <input type="radio" name="choice" value="paid" required> Plano Pago
        <br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
